/**
 * css file for bank type list
 */
#edit-commerce-payment-payment-details-bank-type {
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
}

.form-item.form-type-radio.form-item-commerce-payment-payment-details-bank-type {
    float: left;
}
.bank-logo-default {
    background: url(images/icon_0_s.gif) no-repeat;
    display: inline-block;
    position: relative;
    height: 33px;
    width: 141px;
    overflow: hidden;
    line-height: 999px;
    vertical-align: top;
}

.bank-logo {
    background: url(https://img.tenpay.com/v2/res/img/global/bank.png?v=20130806) no-repeat;
    display: inline-block;
    position: relative;
    height: 33px;
    width: 141px;
    overflow: hidden;
    line-height: 999px;
    vertical-align: top;
}
.bank-1002 { /*icbc*/
    background-position:0 -35px;
}
.bank-1001 { /*cmb*/
    background-position:0 -66px;
}
.bank-1003 { /*ccb*/
    background-position:0 -99px;
}
.bank-1005 { /*abc*/
    background-position:0 -132px;
}
.bank-1052 { /*boc*/
    background-position:0 -165px;
}
.bank-1004 { /*spdb*/
    background-position:0 -198px;
}
.bank-1008 { /*sdb*/
    background-position:0 -231px;
}
.bank-1009 { /*cib*/
    background-position:0 -264px;
}
.bank-1032 { /*bob*/
    background-position:0 -297px;
}
.bank-1022 { /*cebb*/
    background-position:0 -330px;
}
.bank-1006 { /*boco*/
    background-position:0 -363px;
}
.bank-1020 { /*cmbc*/
    background-position:0 -396px;
}
.bank-1021 { /*ecitic*/
    background-position:0 -429px;
}
.bank-1023 {
    background-position:0 -462px;
}
.bank-1010 {
    background-position:0 -495px;
}
.bank-post {
    background-position:0 -528px;
}
.bank-jsb{
    background-position:0 -561px;
}
.bank-srcb{
    background-position:0 -594px;
}
.bank-bosh{
    background-position:0 -627px;
}
.bank-hxb{
    background-position:0 -660px;
}
.bank-hkbea{
    background-position:0 -693px;
}
.bank-ordos{
    background-position:0 -726px;
}
.bank-cbhb{
    background-position:0 -825px;
}
.bank-jzb{
    background-position:0 -858px;
}
.bank-njcb{
    background-position:0 -759px;
}
.bank-nbcb{
    background-position:0 -792px;
}
.bank-gdrcu{
    background-position:0 -891px;
}
.bank-nccb{
    background-position:0 -924px;
}
.bank-glccb{
    background-position:0 -957px;
}
.bank-bsb{
    background-position:0 -990px;
}
.bank-ynrcc{
    background-position:0 -1023px;
}
.bank-gzcb{
    background-position:0 -1056px;
}
.bank-cqrcb{
    background-position:0 -1089px;
}
.bank-zjcb{
    background-position:0 -1124px;
}
.bank-sdrcu{
    background-position:0 -1154px;
}
.bank-jshbank{
    background-position:0 -1185px;
}
.bank-klb{
    background-position:0 -1220px;
}
.bank-hrbcb{
    background-position:0 -1250px;
}
.bank-crb{
    background-position:0 -1285px;
}
.bank-cqcb{
    background-position:0 -1318px;
}
.bank-hzb{
    background-position:0 -1351px;
}
.bank-hkb{
    background-position:0 -1384px;
}
.bank-sdebank{
    background-position:0 -1417px;
}
.bank-qlb{
    background-position:0 -1450px;
}
.bank-hangseng{
    background-position:0 -1483px;
}
.bank-sznsh{
    background-position:0 -1516px;
}
.bank-zsxlc{
    background-position:0 -1549px;
}
.bank-hdcb{
    background-position:0 -1582px;
}
.bank-xxssh{
    background-position:0 -1615px;
}
.bank-nycbank{
    background-position:0 -1648px;
}
.bank-jjccb{
    background-position:0 -1681px;
}
.bank-bankofjdz{
    background-position:0 -1714px;
}
.bank-bek{
    background-position:0 -1747px;
}
.bank-zjtlcb{
    background-position:0 -1780px;
}
.bank-bocd{
    background-position:0 -1813px;
}
.bank-zjnx{
    background-position:0 -1846px;
}
.ico-cop{
    background-position:0 0;position:absolute;right:2px;top:9px;width:26px;height:16px;
}
.ico-ydt{
    background-position:-26px 0;position:absolute;right:0;top:9px;width:35px;height:16px;
}
